doctype html
html
  head
    title= title

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500')

    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet" href="/lib/bootstrap-table/dist/bootstrap-table.min.css")
    link(rel='stylesheet', href='/stylesheets/auth/css/form-elements.css')
    link(rel='stylesheet', href='/stylesheets/auth/css/style.css')

    <!--[if IE 8]>
    html.lt-ie9(lang="en")
    <![endif]-->
    <!--[if gt IE 8]><!-->
    html(lang="en")
    <!--<![endif]-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
    script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
    <![endif]-->


  body
    block content

    script( src='/lib/jquery/dist/jquery.min.js' )
    script( src='/lib/bootstrap/dist/js/bootstrap.min.js' )
    script( src='/lib/bootstrap-table/dist/bootstrap-table.min.js' )
    script( src="/lib/jquery-backstretch/jquery.backstretch.min.js")

    script( src="/js/auth/scripts.js")

    <!--[if lt IE 10]>
    script(src="/js/auth/placeholder.js")
    <![endif]-->