extends layout

block content
    +panel("My Committees", "primary")

    +panel("Available Committees", "primary")
        #userForm_messages
        p On the left tree you have the required members. Select one level to see the theses that require members in the committee

        .row
            .col-xs-6.col-md-4
                #committee_tree
            .col-xs-12.col-md-8
                #panel_Theses.panel-group

block scripts
    script
        include ../public/js/scripts.js
        include ../public/js/committee/tree.js
        include ../public/js/committee/theses.js
