extends layout

block content
    p Admin: - Theses without author
    p Admin: - Theses without advisor
    p Admin: - Theses without slot
    p Admin: - Theses without committee
    p Admin/Teacher: - Statistics on theses advising/assigned committees for each teacher + remark oun information
    p ALL: - Active period with the calendar


