include mixins/mixins
include mixins/nav_mixins
doctype html
- var use_externals = true;
html
    head
        title= title
        +bootswatch("flatly")
        if (use_externals)
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
            link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css')
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css')
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/css/bootstrap-modal.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput-typeahead.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.min.css")
            //link(rel="stylesheet" href="/bower_components/bootstrap-wysihtml5/lib/css/wysiwyg-color.css")
            //link(rel="stylesheet" href="/bower_components/bootstrap-wysihtml5/lib/css/prettify.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-wysiwyg/0.3.3/bootstrap3-wysihtml5.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css")
        else
            link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
            link(rel='stylesheet', href='/bower_components/jquery-ui/themes/base/jquery-ui.min.css')
            link(rel='stylesheet', href='/bower_components/jquery-ui/themes/base/autocomplete.css')
            link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
            link(rel="stylesheet" href="/bower_components/bootstrap-modal/css/bootstrap-modal.css")
            //link(rel="stylesheet" href="/bower_components/bootstrap-combobox/css/bootstrap-combobox.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-table/dist/bootstrap-table.min.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput-typeahead.css")
            link(rel="stylesheet" href="/bower_components/jquery.tagsinput/dist/jquery.tagsinput.min.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-tokenfield/dist/css/bootstrap-tokenfield.min.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-tokenfield/dist/css/tokenfield-typeahead.min.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-wysihtml5/lib/css/wysiwyg-color.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-wysihtml5/lib/css/prettify.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css")
            link(rel="stylesheet" href="/bower_components/bootstrap-notify/css/bootstrap-notify.css")
        link(rel="stylesheet" href="/js/widgets/agenda/agenda.css")
        link(rel="stylesheet" href="/stylesheets/footer.css")
    body
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#mcv-navbar" aria-expanded="false")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") MCV Theses
                        //img(alt="MCV Theses" src="/images/favicon-96x96.png")

                #mcv-navbar.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        +nav_item("/", "index" ) Home
                        if(user)
                            +nav_item("/thesis", "thesis") Thesis
                            if(user.teacher)
                                +nav_item("/committees", "committees") Committees
                            if(user.admin)
                                +nav_item("/admin", "admin") Admin
                                +nav_item("/communication", "communication") Communication
                            +nav_item("/profile", "profile") My Profile
                    ul.nav.navbar-nav.navbar-right
                        if(user)
                            li
                                a(href="/auth/signout")
                                    i.fa.fa-signout Logout #{user.username}

                        else
                            li
                                a(href="/auth/signin") Login
                            li
                                a(href="/auth/signup") Register
                            //+nav_item("/auth/signin", "login") Login
                            //+nav_item("/auth/signup", "register") Register

        block content

        if (use_externals)
            script( src='https://cdnjs.cloudflare.com/ajax/libs/wysihtml5/0.3.0/wysihtml5.min.js')
            script( src='https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js')
            script( src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js' )
            script( src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js' )
            script( src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' )
            script( src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js' )
            script( src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js' )
            script( src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js' )
            script( src='https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/bloodhound.min.js' )
            script( src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-wysiwyg/0.3.3/bootstrap3-wysihtml5.all.min.js')
            script( src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js')
            script( src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js')
            script( src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js')
            script( src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js' )
            //script( src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js')
            script( src='/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')
        else
            script( src='/bower_components/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.min.js')
            script( src='/bower_components/bootstrap-wysihtml5/lib/js/prettify.js')
            script( src='/bower_components/jquery/dist/jquery.min.js' )
            script( src='/bower_components/jquery-ui/jquery-ui.min.js' )
            script( src='/bower_components/bootstrap/dist/js/bootstrap.min.js' )
            script( src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js' )
            script( src='/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' )
            script( src='/bower_components/bootstrap-tokenfield/dist/bootstrap-tokenfield.min.js' )
            script( src='/bower_components/typeahead.js/dist/bloodhound.min.js' )
            script( src='/bower_components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.min.js')
            script( src='/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.js')
            //script( src='/bower_components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
            script( src='/bower_components/bootstrap-modal/js/bootstrap-modal.js')
            script( src='/bower_components/bootstrap-modal/js/bootstrap-modalmanager.js')
            //script( src='/bower_components/bootstrap-combobox/js/bootstrap-combobox.js')
            script( src='/bower_components/bootbox.js/bootbox.js' )
            script( src='/bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')
            //script( src='/bower_components/bootstrap-notify/js/bootstrap-notify.js')

        script( src='/dist/widgets/agenda/agenda.js')

        block scripts
        footer
            .container
                .row
                    p.muted.pullright.text-muted &copy; #{new Date().getFullYear()} Xavier Baró. Code available at <a href='https://github.com/xbaro/MCVThesis'>GitHub</a> under <a href="https://github.com/xbaro/MCVThesis/blob/master/LICENSE">MIT License<a/>