extends auth_layout

block content
    if (message_ok)
        +alert("success") #{message_ok}

    if (message_error)
        +alert("danger") #{message_error}
    .top-content
        .inner-bg
            .container
                .row
                    .col-sm-8.col-sm-offset-2.text
                        h1
                            strong Master on Computer Vision
                        .description
                            p
                                Application Management of final master thesis
                .row
                    .col-sm-6.col-sm-offset-3.form-box
                        .form-top
                            .form-top-left
                                h3 Reset password
                                p Enter your mail and new credentials will be sent by email:
                            .form-top-right
                                i.fa.fa-lock
                        .form-bottom
                            if errorMessage
                                .alert.alert-error
                                    | #{errorMessage}
                            form(role='form', action="/auth/reset_password",method="post")
                                .form-group
                                    label.sr-only(for="email") Mail
                                    input#email.form-control(type='email', name="email", placeholder='Enter Mail account', required=true)
                                .btn-group
                                    button.btn.btn-default(type='submit') Send
                                .btn-group
                                    a(href='/')
                                        button.btn.btn-danger(type="button") Cancel
