extends layout

block content
    if (message_ok)
        +alert("success") #{message_ok}

    if (message_error)
        +alert("danger") #{message_error}

    #thesis_edt.panel.panel-info.margin-bottom-40(style="display: none;")
        .panel-heading
            .panel-title
                i.fa.fa-edit
        .panel-body
            form#formNewThesis(role="form", action="/thesis/new", method="post")
                .form-group
                    label(for="author") Author
                    input#author.form-control(type='text', name="author", placeholder='Author')
                .form-group
                    label(for="title") Title
                    input#title.form-control(type='text', name="title", placeholder='Title')
                .form-group
                    label(for="abstract") Abstract
                    //input#abstract.form-control(type='textarea', name="abstract", placeholder='Abstract', required=true)
                    textarea#abstract.form-control(rows="10", name="abstract", placeholder='Abstract', required=true)
                .form-group
                    label(for="keywords") Keywords
                    input#keywords.form-control(type='text', name="keywords", placeholder='Keywords')
                .form-group
                    label(for="advisors") Advisors
                    input#advisors.form-control(type='text', name="advisors", placeholder='Advisors')
                .btn-group
                    button.btn.btn-default(type='submit', style = "margin-left:10px;") Create
                    button#btnCancelNew.btn.btn-default(type='button', style = "margin-left:10px;") Cancel

    +panel("My Theses", "primary") <button id="btnNewThesis" class="btn btn-default">Create New</button>

        #panel_myThesis.panel-group

    +panel("Advised Theses", "primary")

        #panel_advisedThesis.panel-group

block scripts
    script
        include ../public/js/thesis/scripts.js