body,
html {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
}
a {
  color: #000;
  margin: 10px;
}
body {
  background: #a79d9b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  overflow: scroll;
}
form {
  background: #fff;
  width: 40%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
}
form header {
  background: #f28c09;
  padding: 30px 20px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
form label span {
  color: #ff3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
form input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
form button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  font-family: inherit;
  color: #fff;
  background: #423a2f;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51,51,51,0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form button:hover {
  background: #6fc343;
}
.container {
  background: #fff;
  width: 80%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.7);
  font-family: lato;
  position: relative;
  color: #333;
  border-radius: 10px;
}
.container header {
  background: #f28c09;
  padding: 30px 20px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
.container .body {
  width: auto;
  padding: 30px;
  overflow: scroll;
  height: 600px;
}
.logout {
  position: absolute;
  right: 0;
}
.center {
  margin: 0 auto;
  width: 800px;
}
.statsTable {
  margin: 30px;
  padding: 0px;
  width: auto;
  box-shadow: 10px 10px 5px #888;
  border: 1px solid #000;
  border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  borderleft-radius: 0px;
  border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  borderright-radius: 0px;
  border-radius-topright: 0px;
  border-top-right-radius: 0px;
  border-radius-topleft: 0px;
  border-top-left-radius: 0px;
}
.statsTable table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.statsTable table tr:first-child td:first-child {
  border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  borderleft-radius: 0px;
}
.statsTable table tr:first-child td:last-child {
  border-radius-topright: 0px;
  border-top-right-radius: 0px;
  borderright-radius: 0px;
}
.statsTable tr:last-child td {
  border-width: 0px 1px 0px 0px;
}
.statsTable tr:last-child td:last-child {
  border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  borderright-radius: 0px;
  border-width: 0px 0px 0px 0px;
}
.statsTable tr:last-child td:first-child {
  border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  borderleft-radius: 0px;
}
.statsTable tr:nth-child(odd) {
  background-color: #aad4ff;
}
.statsTable tr:nth-child(even) {
  background-color: #fff;
}
.statsTable tr td:last-child {
  border-width: 0px 0px 1px 0px;
}
.statsTable tr:first-child td {
  background: linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
  background: linear-gradient(center top, #005fbf 5%, #003f7f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
  background: linear-gradient(top, #005fbf, 3 f7f);
  background-color: #005fbf;
  border: 0px solid #000;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #fff;
}
.statsTable tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}
.statsTable tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}
.statsTable tr:first-child:hover td {
  background: linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
  background: linear-gradient(center top, #005fbf 5%, #003f7f 100%);
  background: linear-gradient(top, #005fbf, 3 f7f);
  background-color: #005fbf;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
}
.statsTable td {
  vertical-align: middle;
  border: 1px solid #000;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 7px;
  font-size: 10px;
  font-family: Arial;
  font-weight: normal;
  color: #000;
}
